* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 300px;
    width: 400px;
    margin-left: 35vw;
}
h2 {
    text-align: center;
}

h1{
    text-align: center;
}

table{
    text-align: center;
    border-collapse: collapse;
}

td,th{
    border: 2px solid orange;
    padding: 10px;
}